<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpotifyRecorder.Forms.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpotifyRecorder.Forms.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>  
  <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
    <SpotifyRecorder.Forms.UI.Settings>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="Bitrate" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="DeleteThreshold" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DeleteThresholdEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NamingPattern" serializeAs="String">
        <value>%t - %a</value>
      </setting>
    </SpotifyRecorder.Forms.UI.Settings>
  </userSettings>
  <applicationSettings>
    <SpotifyRecorder.Forms.UI.Settings>
      <setting name="SongscanInterval" serializeAs="String">
        <value>100</value>
      </setting>
    </SpotifyRecorder.Forms.UI.Settings>
  </applicationSettings>
</configuration>
